<%- include('../includes/navbar') %>
<link rel="stylesheet" href="css/index.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (messages.success) { %>
      <script>
        Swal.fire("สำเร็จ!", "<%= messages.success %>", "success");
      </script>
    <% } %>

    <script>
        // เช็คว่า URL มีพารามิเตอร์ ?logout=success หรือไม่
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has("logout")) {
          Swal.fire({
            title: "ล็อกเอาต์สำเร็จ!",
            text: "คุณออกจากระบบเรียบร้อยแล้ว",
            icon: "success",
            timer: 2000,
            showConfirmButton: false
          });
      
          // ลบพารามิเตอร์ออกจาก URL หลังแสดง Swal
          localStorage.clear()
          history.replaceState(null, "", window.location.pathname);
        }
      </script>

    <div class="container" style="margin-top: 136px;">
        <article class="content0-content">
            <h1 style="text-align: center;">Mamon Cake</h1>
            <p style="font-size: 18px; text-align: center;">มาม่อนเค้กสูตรต้นตำรับ เนื้อเนียน นุ่ม เบา หวานน้อย
                มีให้เลือกหลากหลายเนื้อ และหลากหลายหน้าขนม
                ทั้งมาม่อนเค้กเนื้อวานิลลา, มาม่อนเค้กเนื้อใบเตย, มาม่อนเค้กเนื้อกาแฟ, มาม่อนเค้กเนื้อช็อกโกแลต
                มาม่อนเค้กเนื้อกล้วย และมาม่อนเค้กสูตรชูการ์ฟรี มาม่อนเค้กทุกชิ้นของเราบรรจุกล่องสวยงาม สะอาด
                พร้อมรับประทาน พกไปทานได้ทุกที่ ทุกเวลา ที่สำคัญไม่ใส่สารกันเสีย</p>
        </article>
    </div>

    <!-- Category Section -->
    <div class="container" style="margin-top: 30px;">
        <h2 class="categories-title">สินค้าขายดี</h2>
        <hr style="border: 1px solid #141414;">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-2">
            <% Object.values(products).forEach(function(item ,index){ %>
            <% if (index >= 3) return; %>
            <div class="col">
                <div class="card category-card">

                    <a href="/product/<%= item._id %>">
                        <img src="image/<%= item.image %>" class="card-img-top" alt="Category Image" width="" height="">
                    </a>

                    <div class="card-body">
                        <h5 class="card-title" style="border: 0px solid black; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= item.name %></h5>
                        <div class="custom-category">
                            <button onclick="addtocart('<%= JSON.stringify(item) %>');">Add to Cart</button>
                            <span class="card-text text-muted">฿<%= item.price %></span>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
  
    <!-- Product Listing -->
    <div class="container mt-5">
        <div>
            <h2 class="product-title">สินค้าทั้งหมด</h2>
            <hr style="border: 1px solid #141414;">

            <form action="/" method="get">
                <label for="option" style="font-size: 18px;"><b>เรียงตาม:</b></label>
                <select id="option" name="option" onchange="this.form.submit()" style="padding: 5px 16px;">
                    <option value="ASC" <%= selectedOption === 'ASC' ? 'selected' : '' %>>ราคาต่ำสุด</option>
                    <option value="DESC" <%= selectedOption === 'DESC' ? 'selected' : '' %>>ราคาสูงสุด</option>
                </select>
            </form>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 mt-4">

            <% Object.values(products).forEach(function(item){ %>
            <div class="col">
                <div class="card product-card">

                    <a href="/product/<%= item._id %>">
                        <img src="image/<%= item.image %>" class="product-img card-img-top" alt="Product Image">
                    </a>

                    <div class="card-body" style="text-align: left;">
                        <h5 style="border: 0px solid black; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; "
                            class="card-title"><%= item.name %></h5>
                        <p style="border: 0px solid black; max-height:50px; overflow: hidden;" class="card-text">
                            <%= item.description %></p>
                        <p class="card-text text-muted"></p>
                        <div class="custom-product">
                            <a onclick="addtocart('<%= JSON.stringify(item) %>');" class="btn btn-outline-dark">Addtocart</a>
                            <span class="card-text text-muted">฿<%= item.price %></span></div>
                    </div>
                </div>
            </div>
            <% }) %>

        </div>
    </div>

    <div class="container" style="margin-top: 125px; background: #faf9f9; ">
        <h2>Mamon Cake</h2>
        <p>มาม่อนเค้กสูตรต้นตำรับ เนื้อเนียน นุ่ม เบา หวานน้อย มีให้เลือกหลากหลายเนื้อ และหลากหลายหน้าขนม
            ทั้งมาม่อนเค้กเนื้อวานิลลา, มาม่อนเค้กเนื้อใบเตย, มาม่อนเค้กเนื้อกาแฟ, มาม่อนเค้กเนื้อช็อกโกแลต
            มาม่อนเค้กเนื้อกล้วย และมาม่อนเค้กสูตรชูการ์ฟรี มาม่อนเค้กทุกชิ้นของเราบรรจุกล่องสวยงาม สะอาด พร้อมรับประทาน
            พกไปทานได้ทุกที่ ทุกเวลา ที่สำคัญไม่ใส่สารกันเสีย</p>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col">
                <img src="/image/1737908394534.jpg" alt="Trulli" width="" height="" class="content1-2-img">
            </div>
            <div class="col">
                <img src="/image/1737907450167.jpg" alt="Trulli" width="" height="" class="content1-2-img">
            </div>
            <div class="col">
                <img src="/image/1737907906602.jpg" alt="Trulli" width="" height="" class="content1-2-img">
            </div>

        </div>
    </div>

    <%- include('../includes/footer') %>
</body>

</html>